.aside-menu {
    // display: none;
    position: fixed;
    // transform: translateX(100%);
    // transition: transform 0.3s ease;
    z-index: 1000;
    // width: 100vw;
    // height: 100vh;
    // inset: 0;
}
.aside-menu-hidden {
  display: none;
  inset: 0;
  transform: translateX(100%);
    transition: transform 0.3s ease;
}
.aside-menu.active {
  transform: translateX(0);
  inset: 0;
}
.main-menu {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow:
    16px 0px 52px rgba(14, 24, 80, 0.2),
    -2px 0px 4px rgba(69, 79, 126, 0.02);
  border-radius: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 1rem;
  margin-top: 2%;
}
.up-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}
.left-side {
  display: flex;
  align-items: center;
  gap: 4px;
}
.burger {
  border: none;
  background-color: white;
}
.group {
  border: none;
  background-color: white;
  width: 96.5px;
  height: 50.8px;
}
.search {
  border: none;
  background-color: white;
}
.bottom-section {
  width: 222px;
  height: 876px;
}
.text-menu {
  padding: 1rem 1rem;
  font-family: ttlakes;
  color: rgba(27, 28, 33, 1);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.text-menu input {
  display: none;
}
.menu-item {
  cursor: pointer;
  transition: 0.2s;
}
.text-menu input:checked + .menu-item {
  border-left: 1px solid rgba(65, 246, 215, 1);
  color: rgb(192, 191, 191);
  padding-left: 5px;
  border-left-width: 4px;
}
.contact-image {
  display: flex;
  gap: 15px;
  padding-left: 0.5rem;
}
.call,
.chat,
.profile {
  border: none;
  background-color: white;
}
.email {
  padding-top: 1rem;
  padding-left: 1rem;
}
.phone-number {
  font-size: 140%;
  padding-top: 1rem;
  padding-left: 0.9rem;
  font-family: bold tt lakes;
}
.lang-button {
  display: flex;
  padding-top: 1rem;
  padding-left: 0.9rem;
  font-family: ttlakes;
  font-size: 120%;
  gap: 15px;
  cursor: pointer;
}
.lang-button input {
  display: none;
}
.lang-button input:checked + .lang {
  color: rgb(192, 191, 191);
}