* {
  box-sizing: border-box;
}
@font-face {
  font-family: "TTlakes-regular";
  src: url(/src/assets/fonts/fonts/TTLakes/TTLakes-Regular.woff);
}
@font-face {
  font-family: "TTlakes-medium";
  src: url(/src/assets/fonts/fonts/TTLakes/TTLakes-Medium.woff);
}
@font-face {
  font-family: "TTlakes-bold";
  src: url(/src/assets/fonts/fonts/TTLakes/TTLakes-Bold.woff);
}
button {
  cursor: pointer;
}
button:hover {
  transform: translate(3px);
  transition: 0.3s;
}
body {
  margin: 0;

  height: 100vh;
  padding-bottom: 2rem;
}
html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
.double-arrow {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}

.button-show-hide {
  width: 132px;
  height: 24px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  font-family: TTLakes-Medium;
}
.arrow-right:hover {
  transform: translate(3px);
  transition: 0.3s;
}
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 62, 121, 1);
  border-radius: 50%;
  color: rgba(255, 62, 121, 1);
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 180%;
}
.footer-text {
  font-family: "TTlakes-regular";
  color: rgba(126, 126, 130, 1);
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}
.footer-text-1 {
  display: flex;
  justify-content: center;
}
.footer-text-1,
.footer-text-2,
.footer-text-3 {
  padding-bottom: 1rem;
}
.footer-text-3 {
  padding-left: 4rem;
  display: flex;
  justify-content: center;
}
.footer-text-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hidden2 {
  display: none;
}
@media (min-width: 1024px) {
  .body-main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
  }
  .aside-menu-hidden {
    display: block !important;
    position: relative !important;
    left: auto;
    top: 0;

    min-height: 100vh;
    width: 320px;
    transform: none !important;
    transition: none !important;
    background-color: rgba(248, 248, 248, 1);
    z-index: 1000;
  }
  .main-menu {
    box-shadow: none !important;
    border: none;
    outline: none;
  }
  .main-content {
    flex: 1;
    width: 100%;
    min-width: 0;
    position: relative;
    bottom: 5% !important;
    min-height: 100vh;
    padding-top: 1rem;
    background-color: rgba(248, 248, 248, 1) !important;

    .main__page-home {
      min-width: 0;
      overflow: hidden;
    }
  }
  .burger {
    display: none;
  }
  .main__page-home--slide-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
  }

  .main__page-home--article-img {
    display: flex;
    height: auto;
  }

  .overlay {
    display: none;
  }
  .header__navigation {
    display: none !important;
  }
  .main__page-home--header {
    display: flex;
    justify-content: space-between;
  }
  .logo-swiper-wrapper {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .computor_nav-button {
    display: flex !important;
  }
  .computor_header__navigation {
    display: flex;
  }
  .main__page-home--slide-menu {
    overflow-y: auto;
  }

  .main__page-home--up-text,
  .main__page-home__equipment-repair___up-text,
  .main__page-home_price__up-text,
  .main__page-home_price__pc-text {
    background: linear-gradient(to right, rgba(248, 248, 248, 1), white);
  }
  .repear-swiper,
  .price-swiper,
  .footer {
    background-color: rgba(248, 248, 248, 1);
  }
  .price_swiper-slide {
    border-top: 5px solid rgba(248, 248, 248, 1);
  }
  .logo-button-show-hide {
    display: none;
  }

  .main__page-home__brands-buttons {
    background-color: rgba(248, 248, 248, 1);
  }
  .footer-text-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2rem;
  }

  .footer-text--1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-text-3 {
    display: block;
    justify-content: flex-end;
    padding: 0;
    width: 300px;
  }
  .footer-text-2 {
    padding: 0;
  }
  .hidden,
  .button2 {
    display: grid !important;
    grid-row: 2;
  }
  .logo-button-show-hide {
    display: none !important;
  }
  .price_swiper-wrapper {
    gap: 0.5rem;
  }

  .logo-swiper-slide {
    display: block !important;
  }
  .logo-button-show-hide2 {
    display: flex !important;
    padding-left: 2.5%;
  }
  .hidden2 {
    display: none !important;
  }
}
